backports.entry-points-selectable==1.1.0
cfgv==3.3.1
click==8.0.1
distlib==0.3.3
filelock==3.3.0
Flask==2.0.2
greenlet==1.1.2
identify==2.3.0
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
nodeenv==1.6.0
platformdirs==2.4.0
pre-commit==2.15.0
PyYAML==5.4.1
six==1.16.0
SQLAlchemy==1.4.25
toml==0.10.2
virtualenv==20.8.1
Werkzeug==2.0.2
